<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/delete.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <ul>
      <!-- <li><a class="active" href="{{url_for('home')}}">Home</a></li> -->
      <li><a href="{{url_for('teacher_insert')}}">Insert Faculty</a></li>
      <li><a href="{{url_for('teacher_update')}}">Update Faculty</a></li>
      <li><a href="{{url_for('teacher_retrive')}}">Check Faculty</a></li>
      <li><a href="{{url_for('teacher_delete')}}">Delete Faculty</a></li>
      <li><a href="{{url_for('teacher_check_api')}}" target="_blank">API Faculty</a></li>
    </ul>
    <div class="form_container">
      <h1 style="color:red">{{ flag }}</h1>
      <form class="" action="{{url_for('handle_delete_teacher')}}" method="post">
        <fieldset>
          <center><legend>Remove Faculty</legend></center>
          <table>
            <tr>
              <td>Faculty Name</td>
              <td>
                <select  name="fac_name">
                  {% for val in name: %}
                  <option value="{{val}}">{{val}}</option>
                  {%endfor%}
                </select>
              </td>
            </tr>
          </table>
        </fieldset>
        <center><input type="submit" name="submit" value="submit"></center>
      </form>
    </div>
  </body>
</html>
